.container {
    width: 450px !important;
    height: 100vh;
    background-color: darkslategray;
    box-shadow: 2px 0 15px 0px black;
    position: relative;
    z-index: 2;
    padding: 10px 15px;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}